<app-banner [title]="'Class Rooms'"></app-banner>
<div class="container">
    <h2 class="text-center my-4"></h2>

    <div class="row">
      <div class="col-md-6">
        <div class="course-image" >
          <img src="assets/class1.jpg" alt="Course Image">
        </div>
      </div>
      <div class="col-md-6">
        <h2 class="text-center my-4">Classroom</h2>
        <p class="text-justify">Seperate class rooms available for conducting classes for B.pharm and D.pharm with well ventilated and equiped with LED Projector.
             
            </p>

      </div>
    </div>