<app-banner [title]="'Bachelor of Pharmacy'"></app-banner>

<body>
    <div class="container">
      <h2 class="text-center my-4">Course Details</h2>
  
      <div class="row">
        <div class="col-md-6">
          <div class="course-image" >
            <img src="assets/lib2.jpg" alt="Course Image">
          </div>
        </div>
        <div class="col-md-6">
          <p class="text-justify">
            <b>Duration:</b><br> 
            The B.Pharm course typically spans over a duration of four years, divided into eight semesters.<br>
            <br><b>Eligibility Criteria:</b><br>
            Pass in 12th class (10+2) with Science subjects, including Physics, Chemistry, and Biology/Mathematics.<br>
            Minimum aggregate marks requirement is 60% for admission.
  
        </div>
      </div>
  
      <!-- <div class="container my-3">
        <h2 class="text-center my-4">Specializations</h2>
        <div class="syllabus" data-aos="fade-up" data-aos-duration="2000">
          <div class="card-container">
            <div class="card">
              <h4>M.Sc. in Medical Surgical Nursing
              </h4>
              <p>Medical Surgical Nursing focuses on providing specialized care to patients undergoing surgical procedures and managing complex medical conditions.</p>
            </div>
            <div class="card">
              <h4>M.Sc. in Community Health Nursing</h4>
              <p>Community Health Nursing involves promoting and maintaining the health of communities and populations and providing preventive and primary care services.</p>
            </div>
            <div class="card">
              <h4>M.Sc. in Paediatric Nursing</h4>
              <p>Child Health Nursing is dedicated to the healthcare needs of infants, children, and adolescents, emphasizing their growth, development, and well-being.</p>
            </div>
          </div>
        </div>
      </div>
       -->